.container{
    display: flex;
}

h4{
    color: black!important;
}

table{
    color: black !important;
}

.page-content{
    color: #676767 !important;
}

body[data-sidebar="dark"] .vertical-menu{
    background: #031b4d !important;
}

body[data-sidebar="dark"] .navbar-brand-box{
    background: #031b4d !important;
}

.btn-success{
    background-color: #15CD72 !important;
    border-color: #15CD72 !important;
}